.subt, .mainSec, .casilla, .letraYColor, .txtPrincipal, .btn-mod, .tipo-modificada, #menu ul a {
  font-family: "Manrope", sans-serif;
  color: #5D675B;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(241, 186, 135, 0.2274509804);
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5D675B;
}

img {
  width: 100%;
}

header {
  background: rgb(231, 161, 137);
  background: linear-gradient(90deg, rgba(231, 161, 137, 0.5973739838) 0%, rgba(247, 142, 105, 0.7010154404) 50%, rgba(231, 161, 137, 0.5973739838) 100%);
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}
header h1 {
  font-family: "Source Serif Pro", serif;
  color: #5D675B;
  font-weight: bold;
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.6rem;
  }
}

#menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}
#menu ul a {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 480px) {
  #menu ul a {
    line-height: 80%;
    font-size: 0.8rem;
  }
}
#menu ul li {
  background-color: #F1BB87;
  position: relative;
  float: left;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
#menu ul li:hover {
  background-color: #F7EF99;
}
#menu ul li:hover > ul {
  display: block;
}

#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}
#menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}
#menu ul ul li {
  float: none;
  width: 10rem;
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  .navDesktop {
    display: none;
  }
}

.navBar-mod {
  display: none;
  background-color: rgba(171, 225, 136, 0.2431372549);
  font-family: "Manrope", sans-serif;
}
@media screen and (max-width: 768px) {
  .navBar-mod {
    display: block;
  }
}

.color-mod {
  color: #5D675B;
}

.color-mod.show {
  color: #5D675B;
}

.color-mod:active {
  background-color: #F7EF99;
}

.nav-link:hover {
  color: #5D675B !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.bar-mod {
  color: #5D675B;
}

.carousel-mod {
  margin: 0 auto;
  padding-bottom: 1.8rem;
}

.card-mod {
  border: 1px solid #F78E69;
  margin: 0.5rem;
}

.btn-mod {
  background-color: #F1BB87;
  border-color: #F1BB87;
}

.sectionIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
  overflow: hidden;
}

.txtPrincipal {
  font-size: 1rem;
  text-align: center;
  padding: 1.5rem;
  margin: 0 auto;
}

footer {
  background: rgb(202, 218, 101);
  background: linear-gradient(90deg, rgba(202, 218, 101, 0.8046568969) 0%, rgba(171, 225, 136, 0.8466737037) 50%, rgba(202, 218, 101, 0.799054656) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.letraYColor {
  font-size: 1.3rem;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .letraYColor {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .letraYColor {
    font-size: 1rem;
  }
}

.casilla {
  font-size: 1rem;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .casilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .casilla {
    font-size: 0.8rem;
  }
}

.iconoRedes {
  color: #F78E69;
  font-size: 2.2rem;
  padding: 0.5rem;
}
.iconoRedes:hover {
  color: #5D675B;
}
@media screen and (max-width: 768px) {
  .iconoRedes {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) {
  .iconoRedes {
    font-size: 1.8rem;
  }
}

.botonSend:hover {
  transform: scale(1.5) translateX(10px);
  transition: all 1.5s ease-out;
}

.botonUp {
  color: #F78E69;
  font-size: 40px;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.botonUp:hover {
  color: #5D675B;
}
@media screen and (max-width: 768px) {
  .botonUp {
    font-size: 30px;
  }
}

.mainSec {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  padding: 1.5rem;
}
@media screen and (max-width: 768px) {
  .mainSec h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .mainSec h3 {
    font-size: 1.3rem;
  }
}

.tamanoLetra {
  font-size: 1rem;
}

.galerias {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .galerias {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .galerias {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

.containerSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.galeriaDeco {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.5fr 1fr);
  grid-template-areas: "candles candles candles candles" "img1 img2 img3 img4" "mirrors mirrors mirrors mirrors" "img5 img6 img7 img8" "centerpieces centerpieces centerpieces centerpieces" "img9 img10 img11 img12" "indoorPlants indoorPlants indoorPlants indoorPlants" "img13 img14 img15 img16";
}
@media screen and (max-width: 768px) {
  .galeriaDeco {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 1fr;
    overflow: hidden;
    grid-template-areas: "candles candles" "img1 img2" "img3 img4" "mirrors mirrors" "img5 img6" "img7 img8" "centerpieces centerpieces" "img9 img10" "img11 img12" "indoorPlants indoorPlants" "img13 img14" "img15 img16";
  }
}

.subt {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 0.5rem;
  text-align: center;
}

.candles {
  grid-area: candles;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.mirrors {
  grid-area: mirrors;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.img7 {
  grid-area: img7;
}

.img8 {
  grid-area: img8;
}

.centerpieces {
  grid-area: centerpieces;
}

.img9 {
  grid-area: img9;
}

.img10 {
  grid-area: img10;
}

.img11 {
  grid-area: img11;
}

.img12 {
  grid-area: img12;
}

.indoorPlants {
  grid-area: indoorPlants;
}

.img13 {
  grid-area: img13;
}

.img14 {
  grid-area: img14;
}

.img15 {
  grid-area: img15;
}

.img16 {
  grid-area: img16;
}

/*# sourceMappingURL=style.css.map */
