* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(241, 186, 135, 0.2274509804);
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5D675B;
}

img {
  width: 100%;
}

header {
  background: rgb(231, 161, 137);
  background: linear-gradient(90deg, rgba(231, 161, 137, 0.5973739838) 0%, rgba(247, 142, 105, 0.7010154404) 50%, rgba(231, 161, 137, 0.5973739838) 100%);
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}
header h1 {
  color: #5D675B;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Source Serif Pro", serif;
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.6rem;
  }
}

#menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}
#menu ul a {
  display: block;
  color: #5D675B;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 480px) {
  #menu ul a {
    line-height: 80%;
    font-size: 0.8rem;
  }
}
#menu ul li {
  background-color: #F1BB87;
  position: relative;
  float: left;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
#menu ul li:hover {
  background-color: #F7EF99;
}
#menu ul li:hover > ul {
  display: block;
}

#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}
#menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}
#menu ul ul li {
  float: none;
  width: 10rem;
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  .navDesktop {
    display: none;
  }
}

.navBar-mod {
  display: none;
  background-color: rgba(171, 225, 136, 0.2431372549);
  font-family: "Manrope", sans-serif;
}
@media screen and (max-width: 768px) {
  .navBar-mod {
    display: block;
  }
}

.color-mod {
  color: #5D675B;
}

.color-mod.show {
  color: #5D675B;
}

.color-mod:active {
  background-color: #F7EF99;
}

.nav-link:hover {
  color: #5D675B !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.bar-mod {
  color: #5D675B;
}

.carousel-mod {
  margin: 0 auto;
  padding-bottom: 1.8rem;
}

.card-mod {
  border: 1px solid #F78E69;
}

.tipo-modificada {
  font-family: "Manrope", sans-serif;
  color: #5D675B;
}

.btn-mod {
  font-family: "Manrope", sans-serif;
  color: #5D675B;
  background-color: #F1BB87;
  border-color: #F1BB87;
}

.sectionIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}

.txtPrincipal {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  color: #5D675B;
  text-align: center;
  padding: 1.5rem;
  margin: 0 auto;
}

footer {
  background: rgb(202, 218, 101);
  background: linear-gradient(90deg, rgba(202, 218, 101, 0.8046568969) 0%, rgba(171, 225, 136, 0.8466737037) 50%, rgba(202, 218, 101, 0.799054656) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.letraYColor {
  color: #5D675B;
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .letraYColor {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .letraYColor {
    font-size: 1rem;
  }
}

.casilla {
  color: #5D675B;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .casilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .casilla {
    font-size: 0.8rem;
  }
}

.iconoRedes {
  color: #F78E69;
  font-size: 2.2rem;
  padding: 0.5rem;
}
.iconoRedes:hover {
  color: #5D675B;
}
@media screen and (max-width: 768px) {
  .iconoRedes {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) {
  .iconoRedes {
    font-size: 1.8rem;
  }
}

.botonSend:hover {
  transform: scale(1.5) translateX(10px);
  transition: all 1.5s ease-out;
}

.botonUp {
  color: #F78E69;
  font-size: 40px;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.botonUp:hover {
  color: #5D675B;
}
@media screen and (max-width: 768px) {
  .botonUp {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
